/* Nur ausblenden, wenn das Attribut nicht auf 'true' steht */
.show-logged-in:not([data-active="true"]) {
    display: none !important;
}

.show-logged-out:not([data-active="true"]) {
    display: none !important;
}

.no-copy {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}