
.show-logged-in:not([data-active="true"]) {
    display: none !important;
}

.show-logged-out:not([data-active="true"]) {
    display: none !important;
}

.no-copy {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.copy {
    -webkit-user-select: text !important;
    -ms-user-select: text !important;
    user-select: text !important;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


#map {
    z-index: 1 !important;
}


.fixed,
.z-50 {
    z-index: 9999 !important;
}
